.main-cont {
    background-image: linear-gradient(77deg, #000000 0%, #0C1030 69%);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.col1-cont {
    padding-left: 6em;
    padding-top: 1em;
}

.logo {
    top: 3rem;
    right: 3rem;
}

.featured-img {
    text-align: right;
    margin-right: -15px;
}

.hs1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.407;
    letter-spacing: .28px;
}

.hs2 {
    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-weight: 400;
    font-size: 41px;
    letter-spacing: .71px;
    line-height: 1.073;
}

.hs3 {
    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: -0.03px;
}

.d2 {
    font-family: 'Open Sans', sans-serif;
    color: #F25E27;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.32px;
}

.p1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02px;
}

.p2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.32px;
}

.p4 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.02px;
}

.s1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02px;
}

.s2 {
    font-family: 'Open Sans', sans-serif;
    color: #F25E27;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02px;
}

.s3 {
    font-family: 'Open Sans', sans-serif;
    color: #27BBF2;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02px;
}

.s4 {
    font-family: 'Open Sans', sans-serif;
    color: #F25E27;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.32px;
}

.s5 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.21px;
    line-height: 1.333;
}

.s6 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.input-group {
    border-color: #F25E27;
}

.form-control {
    height: 4rem;
    border-radius: 2.7em;
    border-color: #F25E27;
    border-width: 1px;
}

.btn-outline-secondary {
    border-top-right-radius: 2.7em;
    border-bottom-right-radius: 2.7em;
    background-color: #F25E27;
    color: white;
    border-color: #F25E27;
    border-width: 1px;
}

::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #A4A4A4;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.18px;
}

::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #A4A4A4;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.18px;
}

:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #A4A4A4;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.18px;
}

::-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #A4A4A4;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.18px;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #A4A4A4;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.18px;
}

.checked {
    color: orange;
}

.md1,
.md2,
.md3,
.md4,
.md5 {
    display: none;
}

@media only screen and (min-width: 992px) {
    .main-cont {
        height: 100vh;
    }
}

@media only screen and (max-width: 991px) {
    .col1,
    .col2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-image: url(conquering-image.svg);
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .d1,
    .d2,
    .d3,
    .d4,
    .d6,
    .mb-3 {
        display: none;
    }
    .md1,
    .md2,
    .md3,
    .md4,
    .md5 {
        display: block;
    }
    .col1-cont {
        padding-left: 0rem;
    }
    .hs1 {
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: .19px;
        text-align: center;
        margin-top: 5rem;
    }
    .hs2 {
        font-size: 26px;
        letter-spacing: .45px;
        line-height: 1.269;
        text-align: center;
        margin-top: 1rem;
    }
    .hs3 {
        display: block;
        font-size: 18px;
        text-align: center;
    }
    .p3 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
    }
    .s5 {
        font-size: 13px;
    }
    .s7 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
    }
    .s8 {
        font-family: 'Open Sans', sans-serif;
        color: #27BBF2;
        font-weight: 400;
        font-size: 16px;
    }
    .s9 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 23px;
    }
    .s10 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 13px;
    }
    .form-control {
        height: 3em;
        border-radius: 2.7em;
        border-color: #F25E27;
        box-shadow: #44486E;
    }
    .btn-outline-secondary {
        border-top-right-radius: 2.7em;
        border-bottom-right-radius: 2.7em;
        background-color: #F25E27;
        color: white;
        width: auto;
        border-color: #F25E27;
    }
     ::-webkit-input-placeholder {
        font-size: 12px;
    }
     ::-moz-placeholder {
        font-size: 12px;
    }
     :-ms-input-placeholder {
        font-size: 12px;
    }
     ::-ms-input-placeholder {
        font-size: 12px;
    }
     ::placeholder {
        font-size: 12px;
    }
    .btn-primary {
        background-color: #F25E27;
        color: white;
        border-radius: 2em;
        height: 3em;
        width: 100%;
        border-color: #F25E27;
    }
}
