.header {
    display: block;
    background-image: linear-gradient(77deg, #000000 0%, #0C1030 69%);
    background-position: center;
    background-repeat: no-repeat;
}

.col1 {
    width: 50%;
    box-sizing: border-box;
    padding-left: 6em;
}

.logo1 {
    display: none;
}

.logo2 {
    display: block;
    width: 40em;
}

.h {
    width: 25em;
    padding-top: 4em;
}

.hs1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.4em;
}

.d {
    width: 40em;
}

.hs2 {
    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-weight: 400;
    font-size: 41px;
    line-height: 1.1em;
    margin-bottom: 1em;
}

.d1 {
    display: block;
    width: 40em;
    box-sizing: border-box;
}

.p1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.s1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.s2 {
    font-family: 'Open Sans', sans-serif;
    color: #F25E27;
    font-weight: 600;
    font-size: 16px;
}

.s3 {
    font-family: 'Open Sans', sans-serif;
    color: #27BBF2;
    font-weight: 300;
    font-size: 16px;
}

.md1,
.md2,
.md3,
.md4,
.md5 {
    display: none;
}

.d2 {
    width: 40em;
    box-sizing: border-box;
}

.p2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.s4 {
    font-family: 'Open Sans', sans-serif;
    color: #F25E27;
    font-weight: 700;
    font-size: 16px;
}

.input-group {
    width: 38em;
    border-color: #F25E27;
    border-width: 1em;
    box-sizing: border-box;
}

.form-control {
    height: 4em;
    border-radius: 2.7em;
    border-color: #F25E27;
    border-width: 1px;
    box-shadow: #44486E;
}

.btn-outline-secondary1 {
    border-top-right-radius: 2.7em;
    border-bottom-right-radius: 2.7em;
    background-color: #F25E27;
    color: white;
    width: 10em;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #A4A4A4;
    font-weight: 400;
    font-size: 16px;
}

.s5 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.d4 {
    width: 38em;
    box-sizing: border-box;
}

.checked {
    color: orange;
}

.s6 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.col2 {
    width: 50%;
    box-sizing: border-box;
    padding-left: 6em;
}

.hs3 {
    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    width: auto;
}

.d6 {
    width: 36em;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .header {
        display: block;
        background-image: linear-gradient(77deg, #000000 0%, #0C1030 69%);
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }
    .col1,
    .col2 {
        width: 100%;
        padding: 1em;
        background-image: url(conquering-image.svg);
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .logo1 {
        display: block;
        float: right;
    }
    .logo2,
    .h,
    .d,
    .d1,
    .d2,
    .d3,
    .d4,
    .d6,
    .mb-5 {
        display: none;
    }
    .hs1 {
        width: auto;
        font-size: 18px;
    }
    .hs2 {
        font-size: 26px;
        width: auto;
    }
    .d5 {
        display: block;
        margin-bottom: 1em;
    }
    .hs3 {
        font-size: 18px;
    }
    .md1 {
        margin-top: 4em;
        display: block;
        text-align: center;
    }
    .md2 {
        display: block;
        text-align: center;
    }
    .input-group {
        width: auto;
    }
    .form-control {
        height: 3em;
        border-radius: 2.7em;
        border-color: #F25E27;
        border-width: 1px;
        box-shadow: #44486E;
    }
    .btn-outline-secondary1 {
        border-top-right-radius: 2.7em;
        border-bottom-right-radius: 2.7em;
        background-color: #F25E27;
        color: white;
        width: auto;
    }
    .s5 {
        font-size: 13px;
    }
     ::placeholder {
        font-size: 12px;
    }
    .hs3 {
        display: block;
        font-size: 18px;
        text-align: center;
    }
    .s7 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
    }
    .s8 {
        font-family: 'Open Sans', sans-serif;
        color: #27BBF2;
        font-weight: 400;
        font-size: 16px;
    }
    .s9 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 23px;
    }
    .md3 {
        display: block;
    }
    .btn-primary {
        background-color: #F25E27;
        color: white;
        border-radius: 2em;
        height: 3em;
        width: 20em;
    }
    .s10 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 13px;
    }
    .md4 {
        display: block;
        text-align: center;
    }
    .md5 {
        display: block;
    }
    .p3 {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
    }
    .s6 {
        display: block;
        text-align: center;
    }
    .p1 {
        display: block;
    }
    .checked {
        height: 1.5em;
    }
}
